// out: ./style.css, sourcemap: false, compress: true

@media (prefers-color-scheme: dark) {
  body {
    background: #1e2124;
    color: #8b8c8d;
  }
  .app button.close-window,
  .app button.show-preferences {
    color: #525252;
    &:hover {
      color: #6a6a6a;
    }
    &:active {
      color: #c4c4c4;
    }
  }
  .app .preferences-wrapper {
    input[type='text'] {
      color: white;
      background: #535a61;
    }
    button {
      background-color: #5a9fd7;
      color: white;
    }
    hr {
      margin-top: 20px;
      border-color: #303438;
      border-style: solid;
    }
  }

  .mediabar .mediabar-controls .fa-play {
    color: #b2b2b2;
  }
  .omnibar input {
    background: #232629;
    border: 1px solid #2d3033;
    color: white;
    &:focus {
      outline: 1px solid #3aabf8;
      border-radius: 4px;
    }
  }
  .file-list ul li.active {
    background: #2c313a;
    // background: #064297;
    color: white;
  }
  .file-content {
    background: #15181a;
  }
}

@media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) {
  body {
    background: #ececec;
    color: #414141;
  }
  .app button.close-window,
  .app button.show-preferences {
    color: #bdbdbd;
    &:hover {
      color: #6a6a6a;
    }
    &:active {
      color: #252525;
    }
  }
  .app .preferences-wrapper {
    input[type='text'] {
      color: rgb(48, 45, 45);
      background: #e6e8eb;
    }
    button {
      background-color: #4479a5;
      color: white;
    }
    hr {
      margin-top: 20px;
      border-color: #bdc2c7;
      border-style: solid;
    }
  }
  .mediabar .mediabar-controls .fa-play {
    color: #2c2c2c;
  }
  .omnibar input {
    background: #ffffff;
    border: 1px solid #c5cacf;
    color: #1f1f1f;
    &:focus {
      outline: 1px solid #3aabf8;
      border-radius: 4px;
    }
  }
  .file-list ul li.active {
    background: #2370dd;
    color: #ffffff;
  }
  .file-content {
    background: #fafafa;
  }
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  user-select: none;
}

// This gives us a canvas to postion things absolutely.
.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  button.close-window,
  button.show-preferences {
    height: 20px;
    width: 20px;
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    font-size: 11px;
    z-index: 999;
    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: none;
    }
  }
  button.close-window {
    right: 5px;
  }
  button.show-preferences {
    right: 20px;
  }
}

.preferences-wrapper {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 10px;
  font-family: sans-serif;
  h1 {
    padding: 5px 0;
    background: #1e2124;
    font-weight: 200;
    position: sticky;
    font-size: 20px;
    top: 0px;
    color: white;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: normal;
  }
  input[type='text'] {
    border: none;
    padding: 3px 10px;
    box-sizing: border-box;
  }
  button {
    border: none;
    padding: 3px 10px;
    box-sizing: border-box;
  }
}

.mediabar {
  -webkit-app-region: drag;
  width: 100%;
  padding: 5px 10px 3px 10px;
  .mediabar-controls {
    opacity: 0.5;
    svg {
      font-size: 12px;
    }
    .fa-backward {
      padding-right: 8px;
    }
    .fa-forward {
      padding-left: 8px;
    }
  }
}

.omnibar {
  position: relative;
  margin: 0 5px 5px 5px;
  width: 100%;
  input {
    width: ~'calc(100% - 10px)';
    height: 30px;
    padding-left: 27px;
    box-sizing: border-box;
    font-family: 'Operator Mono';
    border-radius: 4px;
    font-size: 14px;
    &:focus {
      outline: 1px solid #3aabf8;
      border-radius: 4px;
    }
  }
  .icon-search {
    position: absolute;
    font-size: 12px;
    top: 8px;
    left: 7px;
  }
}

.file-list {
  width: 100%;
  height: 100%;
  font-size: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      padding: 2px 2px 2px 10px;
      cursor: default;
    }
  }
  .file-type-symbol {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    margin-right: 10px;
  }
  .file-name {
    font-family: lato;
  }
  .file-preview {
    font-family: 'Operator Mono';
    font-weight: 200;
  }
  .separator {
    display: inline-block;
    margin: 0 5px;
    color: #484a4b;
  }
}

.file-content {
  outline: none;
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Operator Mono';
}

.react-resizable {
  position: relative;
  min-height: 10%;
  max-height: 50%;
}
.react-resizable-handle {
  position: absolute;
  width: 100%;
  height: 5px;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: ns-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

.nothing-selected {
  display: block;
  padding-top: 20%;
  color: #272a31;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
}

pre {
  margin: 0;
  padding: 0;
}
